.navbar-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 0.5rem;
  gap: 3.5rem;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 3.375rem;
}

a {
  text-decoration: none;
  color: inherit;
}
