.career-wrapper .section-1 .content {
  background-color: #00338c;
  /* justify-content: center; */
  /* height: 95%; */
  /* padding: 0 4rem; */
  padding: 54px 64px;
  border-radius: 24px;
}

.career-wrapper .section-1 h1 {
  font-size: 3.5rem;
}

.career-wrapper .section-1 p {
  color: #ffffff;
  font-size: var(--paragraph-font-size);
}

.career-wrapper .section-2 {
}

.career-wrapper .inner-flex {
  border-radius: 24px;
  border: solid 1px #00338c;
  padding: 40px 48px;
  gap: calc(var(--big-gap-size) - 2rem);
}

.career-wrapper .head h1 {
  font-size: var(--section-subtitle-font-size);
}

.career-wrapper .section-2 .positions .bag-img {
  width: 64px;
  margin: 0 auto;
}

.career-wrapper .section-2 .positions .text p {
  font-size: 1.75rem;
  color: #777777;
}

.career-wrapper .section-2 .bottom_div p {
  color: #ffffff;
}
.career-wrapper .section-2 .bottom_div {
  background-color: #00338c;
}
.career-wrapper .text_div {
  padding: 24px 0;
  border-radius: 12px;
}

.career-wrapper .text_div p {
  font-size: var(--paragraph-font-size);
}

.career-wrapper .section-3 .head {
  display: block;
  padding-top: 40px 48px;
}

.email p {
  position: relative;
  display: inline-block;
}

.email p::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  height: 1px;
  left: 0;
  transition: var(--common-transition);
}

.email:hover p::after {
  width: 100%;
}

.career-wrapper .box img {
  border-radius: 24px;
}

.career-wrapper .swiper_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 82px;
}
.career-wrapper .swiper-slide:active {
  cursor: grabbing;
}

.career-wrapper .swiper-slide {
  cursor: grab;
  width: 100% !important;
  height: unset !important;
}

.career-wrapper .custom-prev,
.career-wrapper .custom-next {
  border: solid 1px #00338c;
  padding: 24px;
  position: absolute;
  top: 50% !important;
  /* transform: translateY(-50%) !important; */
  color: #00338c;
  user-select: none;
}

.career-wrapper .custom-prev::after,
.career-wrapper .custom-next::after {
  display: none;
}

.career-wrapper .custom-prev {
  left: 0 !important;
}

.career-wrapper .custom-next {
  left: unset !important;
  right: 0 !important;
}

@media only screen and (max-width: 1024px) {
  .career-wrapper .section-1 h1 {
    font-size: 2.8rem;
  }

  .career-wrapper .section-2 .positions .bag-img {
    width: 50px;
  }

  .career-wrapper .section-2 .positions .text p {
    font-size: 1.4rem;
  }

  .career-wrapper .inner-flex {
    gap: calc(var(--big-gap-size) - 5rem);
  }
}

@media only screen and (max-width: 767px) {
  .career-wrapper .section-1 h1 {
    font-size: 2.5rem;
  }

  .career-wrapper .text_div {
    padding: 24px 10px;
  }

  .career-wrapper .custom-prev,
  .career-wrapper .custom-next {
    top: unset !important;
    bottom: 0 !important;
  }

  .career-wrapper .custom-prev {
    left: 40% !important;
  }
  .career-wrapper .custom-next {
    right: 40% !important;
  }

  .career-wrapper .swiper_wrapper {
    padding: 0;
    padding-bottom: 62px;
    margin: 0 auto;
  }

  .career-wrapper .swiper_wrapper {
    width: 100%;
  }

  .career-wrapper .swiper-slide {
    width: 100% !important;
  }
}

@media only screen and (max-width: 540px) {
  .career-wrapper .inner-flex {
    padding: 40px 12px;
  }

  .career-wrapper .section-1 .content {
    padding: 50px 25px;
  }

  .career-wrapper .inner-flex {
    gap: calc(var(--big-gap-size) - 4rem);
  }

  .career-wrapper .custom-prev {
    left: 38% !important;
  }

  .career-wrapper .custom-next {
    right: 38% !important;
  }
}

@media only screen and (max-width: 486px) {
  .career-wrapper .custom-prev {
    left: 30% !important;
  }
  .career-wrapper .custom-next {
    right: 30% !important;
  }
}

@media only screen and (max-width: 375px) {
  .career-wrapper .section-1 .content {
    padding: 25px 11px;
  }

  .career-wrapper .section-2 .inner-flex {
    padding: 40px 7px;
  }

  .career-wrapper .section-2 .inner-flex {
    gap: calc(var(--big-gap-size) - 3rem);
  }

  .career-wrapper .inner-flex-medium {
    gap: 1.5rem !important;
  }

  .career-wrapper .inner-flex {
    gap: calc(var(--big-gap-size) - 5.3rem);
  }

  .career-wrapper .box img {
    border-radius: 16px;
    height: 170px;
  }
}
