header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9990;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  gap: 3.5rem;
  width: 100%;
  height: 123.24px;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 3.375rem;
}

.head_div .img_div {
  width: 61.44px;
  height: 28;
}

.head_div .learn_more p {
  border-bottom: solid 1px #ffffff;
}

.head_div * {
  color: #ffffff;
}

.head_div {
  color: #ffffff;
  display: flex;
  width: 100%;
  height: 64px;
  background: #00338c;
  padding: 18px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navbar .dropdown-container {
  width: 255px;
  height: 195px;
  border: solid 1px #d2d0d0;
  border-radius: 8px;
  /* box-shadow: ; */
  background-color: #ffffff;
  position: absolute;
  top: 25px;
  left: -10px;
  z-index: 99;
}

.dropdown-container .dropdown-item:not(:last-of-type) {
  border-bottom: solid 1px #ebe7e7;
}
.dropdown-container .dropdown-item {
  width: 100%;
  /* height: 67px; */
  gap: 10px;
  padding: 24px 32px;
  padding-bottom: 18px;
  /* background-color: #ffffff; */
}
