.section-1 .contact-btn {
  padding: 0;
  width: fit-content;
}

/* .section-1 .contact-btn p {
  font-size: var(--rem-font-size);
} */

.section-1 .awfficacy_blue_box_heading {
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
}

.rightside img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.left-side {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr auto;
  gap: 2.625rem;
}

.left-upper-div {
  padding: 42px 64px;
  border-radius: 24px;
  border-width: 1px;
  gap: 3.375rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #00338c;
}

.left-upper-div .heading h1 {
  font-size: var(--section-title-font-size);
  font-weight: 700;
  color: #000000;
}
.left-upper-div .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-upper-div .body p {
  font-size: var(--paragraph-font-size);
}

.left-upper-div .arrow-svg {
  width: 32px;
  height: 32px;
}

.grid-c3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  place-items: center;
}

.left-lower-div .block {
  display: flex;
  flex-direction: column;
  padding: 36px 24px;
  border-radius: 16px;
  border-width: 1px;
  align-items: center;
  gap: 1.125rem;
  width: 100%;
  height: 100%;
}

.left-lower-div .block .head h1 {
  font-size: 2.625rem;
  color: #000000;
  font-weight: 600;
}

.left-lower-div .block hr {
  border-color: #002565;
  border-width: 1px;
  border: none;
  background: #002565;
  height: 0.01rem;
  width: 100%;
}

.left-lower-div .block .body p {
  font-size: var(--link-font-size);
}

.left-lower-div .block:nth-child(odd) {
  border: solid 1px #00338c;
}

.left-lower-div .block:nth-child(even) {
  border: solid 1px #febf00;
}

.head h1 {
  font-size: var(--section-title-font-size);
  font-weight: 700;
  color: #000000;
}

.section-3 {
  border-radius: 24px;
  border-width: 1px;
}

.section-3-wrap {
  padding: 62px 100px;
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
}

.section-3 .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3 .logo {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  width: 77px;
  height: 77px;
}

.section-3 .body p {
  font-size: var(--paragraph-font-size);
}

.section-5 .leftside {
  color: #ffffff;
  background-color: #00338c;
  justify-content: center;
  height: 95%;
  padding: 0 4rem;
}

.section-5 .leftside .head {
  display: flex;
  justify-content: space-between;
}

@keyframes rotate-360 {
  0% {
    transform: rotateZ(0deg);
  }

  /* 50% {
    transform: rotateZ(360deg);
  } */

  100% {
    transform: rotateZ(360deg);
  }
}

.section-5 .leftside .head .img {
  width: 90px;
  /* height: 89px; */
  align-items: center;
  animation: rotate-360 14s infinite linear;
}

.section-5 .leftside hr {
  border-color: #ffffff;
  border-width: 1px;
  border: none;
  background: #ffffff;
  height: 0.01rem;
  width: 100%;
}

.section-5 .leftside .body p {
  font-size: 2rem;
  color: #ffffff;
}

.section-5 .right-side .block,
.section-5 .right-side .right-upper-div {
  height: 100%;
  /* width: 100%; */
  height: 100%;
  padding: 36px;
  border: solid 1px #00338c;
  border-radius: 1rem;
}

.section-5 .right-side .block .head,
.section-5 .right-side .right-upper-div .head {
  width: 90%;
  align-self: center;

  /* margin: 0 auto; */
  /* height: 80; */
}

.section-5 .right-side .right-upper-div .head {
  width: 55%;
}

.section-5 .right-side hr {
  border-color: #002565;
  border-width: 1px;
  border: none;
  background: #002565;
  height: 0.01rem;
  width: 100%;
}

.section-6 .body p {
  font-size: 1.75rem;
}

.section-6 .contact-btn {
  width: fit-content;
  margin: 0 auto;
}

.swiper_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 62px 83px;
}
.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide {
  cursor: grab;
  width: 278px !important;
  height: 193px !important;
}

.swiper-slide .logo {
  width: 100%;
  height: 100%;
}
.swiper-slide .logo img {
  user-select: none;
  -webkit-user-drag: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: unset;
}

.custom-prev,
.custom-next {
  border: solid 1px #00338c;
  padding: 24px;
  position: absolute;
  top: 50% !important;
  /* transform: translateY(-50%) !important; */
  color: #00338c;
  user-select: none;
}

.custom-prev::after,
.custom-next::after {
  display: none;
}

.custom-prev {
  left: 0 !important;
}

.custom-next {
  left: unset !important;
  right: 0 !important;
}

@media only screen and (max-width: 1440px) {
  .left-upper-div {
    gap: 1.775rem;
    padding: 35px 44px;
  }

  .left-lower-div .grid-c3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .left-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1.825rem;
  }

  .left-lower-div .block {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    border-radius: 16px;
    border-width: 1px;
    align-items: center;
    gap: 0.825rem;
    width: 100%;
    height: 100%;
  }

  .section-5 .leftside .body p,
  .section-6 .body p {
    font-size: calc(var(--paragraph-font-size) + 0.4rem);
  }
}

@media only screen and (max-width: 1152px) {
  .section-3-wrap {
    padding: 62px 100px;
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
  }
  /* .left-upper-div {
    gap: 1.775rem;
    padding: 35px 44px;
  }

  .left-lower-div .grid-c3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .left-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1.825rem;
  }

  .left-lower-div .block {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    border-radius: 16px;
    border-width: 1px;
    align-items: center;
    gap: 0.825rem;
    width: 100%;
    height: 100%;
  } */
}

@media only screen and (max-width: 991px) {
  .section-5 .leftside .body p,
  .section-6 .body p {
    font-size: var(--paragraph-font-size);
  }

  .section-5 .right-side .g61 {
    gap: 2.25rem !important;
  }

  .section-2 .left-lower-div .grid-c3 {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-2 .left-upper-div .arrow-svg {
    width: 28px;
    height: 28px;
  }

  .left-lower-div .block {
    width: 250px;
    height: 190px;
  }

  .section-5 .leftside .head .img {
    width: 90px;
    align-items: center;
  }

  .section-5 .leftside {
    color: #ffffff;
    background-color: #00338c;
    justify-content: center;
    height: 100%;
    padding: 5rem 4rem;
  }

  .section-5 .right-side .block .head,
  .section-5 .right-side .right-upper-div .head {
    width: 40%;
    align-self: center;

    /* margin: 0 auto; */
    /* height: 80; */
  }

  .section-5 .right-side .right-upper-div .head {
    width: 40%;
  }
}

@media only screen and (max-width: 540px) {
  .section-2 .left-lower-div .grid-c3 {
    justify-content: start;
  }

  .section-5 .leftside {
    padding: 5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #00338c;
  }

  .section-3 .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 54px;
    height: unset;
  }

  .section-4 .gold-box {
    padding: 2.5rem 1rem;
  }
}

@media only screen and (max-width: 486px) {
  .left-lower-div .block {
    width: 100%;
    height: fit-content;
  }

  .section-5 .leftside .head {
    position: relative;
  }

  .section-5 .leftside .head .img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .section-5 .right-side .block .head,
  .section-5 .right-side .right-upper-div .head {
    width: 60%;
  }

  .swiper_wrapper {
    padding: 62px 51px;
  }

  .custom-prev,
  .custom-next {
    top: unset !important;
    bottom: 0 !important;
  }

  .custom-prev {
    left: 25% !important;
  }
  .custom-next {
    right: 25% !important;
  }

  .swiper_wrapper {
    padding: 62px 0px;
    margin: 0 auto;
  }

  .swiper_wrapper {
    width: 100%;
  }

  .swiper-slide {
    width: 100% !important;
  }
}

@media only screen and (max-width: 375px) {
  .section-2 .left-upper-div {
    gap: 1.275rem;
    padding: 2rem 0.9rem;
  }

  .section-2 .left-lower-div .block .head h1 {
    font-size: 1.925rem;
  }

  .section-5 .leftside .head .img {
    bottom: 0;
    position: absolute;
    top: unset;
    right: 0;
  }

  .section-5 .leftside .head .img {
    width: 60px;
    align-items: center;
  }

  .section-5 .leftside {
    padding: 2rem 0.9rem;
  }

  .section-3-wrap {
    gap: 1.275rem;
  }
}
