h2 {
    font-size: 20px;
}

.awfficacy_blue_box {
    background: #00338C;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
}

.section-2-left,
.section-2-right {
    border: 1px solid #FEBF00;
    padding: 2.5rem 4rem;
    border-radius: 1rem;
}

.section-2-img-details {
    border-bottom: 1px solid #002565;
    padding-bottom: 2.25rem;
}

.section-2-img-details img {
    width: 248px;
}

.section-1 {
    margin-top: 10rem;
}


.btn {
    padding: 12px 24px;
    border-radius: 8px;
    /* border: solid 1px #000000; */
    background-color: white;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

.btn-know {
    background: white;

}

.gap_spacing {
    gap: 2.25rem !important;
}

/* Section 3  */


.grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media only screen and (max-width: 1680px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }

    .section-padding-4rem {
        padding: 3rem 0 !important;
    }

    /* .section-1 {
        margin-top: 10rem !important;
    } */

}

@media only screen and (max-width: 1366px) {
    html {
        font-size: 13px;
    }

    .font_56 {
        font-size: 42px !important;
    }

    .section-2-left,
    .section-2-right {
        padding: 1.5rem 2rem !important;
    }
}

@media only screen and (max-width: 1152px) {
    html {
        font-size: 12px;
    }

    .awfficacy_blue_box_heading,
    .awfficacy_blue_box_img {
        flex-basis: 50%;
    }


    .section-1 {
        margin-top: 12rem !important;
    }

    .font_56 {
        font-size: 30px !important;
    }

    .font_32 {
        font-size: 29px !important;
    }

    .font_24 {
        font-size: 20px !important;
    }

    .gap_spacing {
        gap: 1rem !important;
    }

    .section-padding-4rem {
        padding: 2rem 0 !important;
    }

    .section-2-img-details img {
        width: 190px;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 11px;
    }

    .font_32 {
        font-size: 26px !important;
    }

    .grid-two {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1.8rem !important;
    }

    .section-1 {
        margin-top: 6rem !important;
    }
}

@media only screen and (max-width: 991px) {
    /* html {
        font-size: 15px;
    } */


    .grid-two {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 4rem;
    }

    .grid-three {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .grid-three {
        grid-template-columns: 100% !important;
        gap: 1rem;
    }

    .awfficacy_blue_box {
        background: #00338C;
        border-radius: 1.5rem;
        display: flex;
        padding: 1rem 1.5rem !important;
        flex-direction: column;
        gap: 3rem;
    }
}

@media only screen and (max-width: 600px) {

    .font_24 {
        font-size: 15px !important;
    }

    .section-2-img-details {
        padding-bottom: 1.25rem;
    }

    

}

@media only screen and (max-width: 325px) {}