.form-control {
    border: 1px solid #D9D9D9;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: black;
    font-size: 1.25rem;
    height: 70px;
    width: 100%;
}


.form_group {
    flex-basis: 50%;
}

textarea {
    /* font-family: var(--light-font-family); */
    font-family: Arial, Helvetica, sans-serif;
}

.error-message {
    color: red;
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.btn-2 {
    background: transparent;
    border: none;
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
    cursor: pointer;
}

.conatct_number_input {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.25rem 1.5rem;
}

.display_country_code {
  width: 45px;
}

.display_country_name {
  font-size: 0.875rem;
}

.country_code_data {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-size: var(--moblink-size);
}

.country_code_list_data ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.country_code_list_data ul li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: all ease 0.2s;
}

.country_code_list_data ul li:hover {
  background-color: #dddddd;
}

.country_code_list_data li>div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.country_code_list_data {
  position: absolute;
  top: 100%;
  left: 0;
  height: 40vh;
  overflow-y: scroll;
  width: 350px;
  z-index: 99999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search_c-code {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.search_c-code input {
  position: relative;
  border-radius: var(--border-radius);
  border: 1px solid #999999;
  width: 100%;
  padding: 0.7rem;
}

.country_code_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

.country_code_overlay.code_overlay {
  display: block;
  /* z-index: 999; */
}

.country_code_list_data {
  display: none;
}

.country_code_list_data.active {
  display: block;
}

.country_code_list_data img {
  width: 25px !important;
}


@media only screen and (max-width: 1440px) {
    .contact_us_wrapper .mini-container {
        width: 90%;
        margin: 0 auto;
    }

    .form-control {
        padding: 1rem 1.5rem;
        font-size: 1.05rem;
        height: 57px;
        width: 100%;
    }

    .contact_us_wrapper .awfficacy_blue_box {
        padding: 2rem 2.5rem;
    }
}

@media only screen and (max-width: 1152px) {}

@media only screen and (max-width: 1075px) {

    .form-control {
        padding: 1rem 1.5rem;
        font-size: 1.05rem;
        height: 48px;
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    
    .contact_us_wrapper .contact_form .flex-colum {
        flex-direction: column;
    }
}

@media only screen and (max-width: 680px) {}

@media only screen and (max-width: 540px) {}

@media only screen and (max-width: 486px) {}

@media only screen and (max-width: 375px) {}



.form-control.contact-form{
    padding-left: 9rem;
}