.whoWeAre-wrapper .blue-box {
  padding: 54px 64px;
}

.whoWeAre-wrapper .section-2 .head h1 {
  font-size: calc(var(--section-title-font-size) + 1rem);
}

.whoWeAre-wrapper .section-2 .body p {
  font-size: var(--paragraph-font-size);
}

.whoWeAre-wrapper .section-3 .gold-box {
  padding: 64px 72px;
}

.whoWeAre-wrapper .section-3 .leadership {
  margin-bottom: 72px;
}

.whoWeAre-wrapper .section-3 .head {
  margin-bottom: 72px;
}

.whoWeAre-wrapper .section-3 .head h2:first-of-type {
  font-size: var(--section-title-font-size);
  margin-bottom: 24px;
}

.whoWeAre-wrapper .section-3 .head h2:last-of-type {
  font-size: var(--section-subtitle-font-size);
}

.whoWeAre-wrapper .section-3 .flex-row {
  flex-wrap: wrap;
}

.whoWeAre-wrapper .section-3 .card:not(:last-of-type) {
  margin-right: 15px;
}

.whoWeAre-wrapper .section-3 .card {
  width: calc(100% / 3.24);
  max-height: fit-content;
  /* height: 647px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 16px;
  border: solid 1px #00338c;
  overflow: hidden;
  cursor: pointer;
}

.whoWeAre-wrapper .section-3 .card .card-image {
  width: 100%;
  height: 100%;
}

.whoWeAre-wrapper .section-3 .card-body {
  padding: 32px 36px;
}
.whoWeAre-wrapper .section-3 .card-body .hr-div {
  gap: 36px;
}

.whoWeAre-wrapper .section-3 .card-body .hr-div hr {
  border-color: #febf00;
  border-width: 1px;
  border: none;
  background: #febf00;
  height: 0.01rem;
  width: 100%;
}

.whoWeAre-wrapper .name_text {
  font-size: var(--section-subtitle-font-size);
  margin-bottom: 8px;
}

.whoWeAre-wrapper .p_text,
.whoWeAre-wrapper .p_text p {
  font-size: var(--paragraph-font-size);
  color: #5b5b5b;
}

.whoWeAre-wrapper .section-3 .card-body .connection a {
  width: 40px;
}

.whoWeAre-wrapper .section-3 .card-body .know-more p {
  font-size: var(--paragraph-font-size);
  color: #00338c;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background: #00000099;
  z-index: 9998;
}

.popup-wrapper {
  position: fixed;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 68%;
  /* height: 95%; */
  height: fit-content;
  max-height: 95%;
  overflow-y: scroll;
}

.popup-wrapper .close_btn {
  position: absolute;
  top: 36px;
  right: 36px;
  width: 24px;
  cursor: pointer;
  transition: var(--commer-transition);
}

.popup-wrapper .close_btn:hover {
  filter: brightness(20%);
}

.popup-wrapper .close_btn .material-symbols-outlined {
  font-size: 54px !important;
  color: #ababab;
}

.popup-wrapper .popup-header .image
/* .popup-wrapper .fav-book { */ {
  /* width: 30%; */
}

.popup-wrapper .popup-header .text
/* .popup-wrapper .tought { */ {
  /* width: 58%; */
  padding-top: 55px 64px;
  gap: 32px;
}

.popup-wrapper .popup-header .name_text {
  font-weight: 700;
}

.popup-wrapper .popup-header .text .connections h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.popup-wrapper .popup-header .logos a {
  width: 32px;
}

.popup-wrapper .popup-header .body h2 {
  font-size: var(--paragraph-font-size);
  font-weight: 700;
}

.popup-wrapper hr {
  border-color: #00338c;
  border-width: 1px;
  border: none;
  background: #00338c;
  height: 0.01rem;
  width: 100%;
}

.popup-wrapper .list .arrow_svg {
  width: 26px;
  min-width: 26px;
}

.popup-wrapper .list .list_text {
  font-size: var(--paragraph-font-size);
}

.popup-wrapper .pBox.blue-box,
.popup-wrapper .pBox.gold-box {
  padding: 36px 56px;
  border-radius: 24px;
  border-width: 1px;
}

.popup-wrapper .blue-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.popup-wrapper .pBox .p_text {
  font-size: 1.25rem;
  color: #000000;
}

.popup-wrapper .grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 1.25rem;
}

.popup-wrapper .grid.grid-inv {
  grid-template-columns: 0.5fr 1fr;
}

.popup-wrapper .fav-book .book_svg {
  width: 42px;
}

.popup-wrapper .book_name {
  font-size: 1.5rem;
}

.popup-wrapper .popup-header .name_text {
  font-size: 2rem !important;
}

.popup-wrapper .popup-header .p_text {
  font-size: 1.25rem !important;
}

.whoWeAre-wrapper .blue_box_1 .blue_box_img_3 img:first-of-type {
  transform: rotateZ(-90deg);
}

@media only screen and (max-width: 1600px) {
  .popup-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 1440px) {
  .whoWeAre-wrapper .name_text {
    font-size: calc(var(--section-subtitle-font-size) - 0.5rem);
  }

  .whoWeAre-wrapper .p_text,
  .whoWeAre-wrapper .p_text p {
    font-size: calc(var(--paragraph-font-size) - 0.2rem);
  }

  .whoWeAre-wrapper .section-3 .card-body .connection a {
    width: 30px;
  }
}

@media only screen and (max-width: 1366px) {
  .popup-wrapper .pBox.blue-box,
  .popup-wrapper .pBox.gold-box {
    padding: 36px 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .whoWeAre-wrapper .p_text,
  .whoWeAre-wrapper .p_text p {
    font-size: calc(var(--paragraph-font-size) - 0.3rem);
  }

  .whoWeAre-wrapper .name_text {
    font-size: calc(var(--section-subtitle-font-size) - 0.9rem);
  }

  .whoWeAre-wrapper .section-3 .card-body .hr-div {
    gap: 23px;
  }
  .whoWeAre-wrapper .section-3 .gold-box {
    padding: 64px 42px;
  }

  .whoWeAre-wrapper .section-3 .head h2:first-of-type {
    font-size: var(--section-title-font-size);
    margin-bottom: 8px;
  }

  .whoWeAre-wrapper .section-3 .head {
    margin-bottom: 40px;
  }

  .whoWeAre-wrapper .section-3 .leadership {
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 1152px) {
  /* .whoWeAre-wrapper .section-3 .card-body .connection a {
    width: 28px;
  } */

  .whoWeAre-wrapper .section-3 .gold-box {
    padding: 64px 32px;
  }

  .whoWeAre-wrapper .section-3 .card {
    min-width: 250px;
  }

  .whoWeAre-wrapper .section-3 .card-body {
    padding: 32px 20px;
  }

  .whoWeAre-wrapper .section-3 .card-body .flex-row.inner-flex-small {
    gap: 0.8rem;
  }

  .popup-wrapper .popup-header .body h2,
  .popup-wrapper .list .list_text {
    font-size: 1.15rem;
    align-items: anchor-center;
  }

  .popup-wrapper .popup-header .text .connections h2 {
    font-size: 1.05rem;
  }

  .logos.g18 {
    gap: 0.325rem !important;
  }

  .connections.flex-row.inner-flex-small {
    gap: var(--small-gap-size);
  }

  .popup-wrapper {
    width: 90%;
  }

  .popup-wrapper .pBox .p_text {
    font-size: 1.15rem;
    color: #000000;
  }
  .popup-wrapper .popup-header .text {
    gap: 23px;
  }

  .whoWeAre-wrapper .popup-wrapper .pBox .p_text {
    font-size: 1.05rem;
  }

  .whoWeAre-wrapper .popup-wrapper .book_name {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1075px) {
  .whoWeAre-wrapper .name_text {
    font-size: calc(var(--section-subtitle-font-size) - 0.5rem);
  }
  .whoWeAre-wrapper .section-3 .card:not(:last-of-type) {
    margin-right: 5px;
  }
  .whoWeAre-wrapper .section-3 .gold-box {
    padding: 38px 32px;
  }
  .whoWeAre-wrapper .popup-wrapper .pBox.blue-box,
  .popup-wrapper .pBox.gold-box {
    padding: 32px 25px;
    gap: 2.025rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .whoWeAre-wrapper .section-3 .card-wrapper.flex-row.j-c-sb {
    justify-content: unset;
  }

  .whoWeAre-wrapper .section-3 .card-body {
    padding: 32px 15px;
  }

  .whoWeAre-wrapper .section-3 .card {
    min-width: 246px;
  }

  .whoWeAre-wrapper .section-3 .card-body .flex-row.inner-flex-small {
    gap: 0.4rem;
  }

  .popup-wrapper .grid {
    grid-template-columns: 1fr;
  }

  .popup-wrapper .fav-book .list .inner-flex {
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) {
  /* .whoWeAre-wrapper .section-3 .card-wrapper.flex-row.j-c-sb {
    justify-content: unset;
  } */

  .whoWeAre-wrapper .section-3 .card-body .connection a {
    width: 27px;
  }

  .whoWeAre-wrapper .section-3 .card-body .flex-row.inner-flex-small {
    gap: 7px;
  }

  .popup-wrapper .grid.grid-inv {
    grid-template-columns: 1fr;
  }

  .popup-wrapper .popup-header .image {
    width: 80%;
    margin: 0 auto;
  }

  .popup-wrapper .popup-header .name_text {
    font-size: 1.9rem !important;
  }

  .popup-wrapper .popup-header .p_text {
    font-size: 1.15rem !important;
  }

  .popup-wrapper .popup-header .body h2,
  .popup-wrapper .list .list_text {
    font-size: 1.15rem;
    align-items: unset;
  }
}

@media only screen and (max-width: 680px) {
  .whoWeAre-wrapper .section-3 .card:not(:last-of-type) {
    margin-right: 0;
  }
  .whoWeAre-wrapper .section-3 .card {
    /* min-width: 240px; */
  }
  .whoWeAre-wrapper .section-3 .gold-box {
    padding: 38px 18px;
  }
  .whoWeAre-wrapper .blue-box {
    padding: 38px 18px;
  }

  .whoWeAre-wrapper .section-2 .inner-flex.inner-flex-medium {
    gap: 1.7rem !important;
  }

  .whoWeAre-wrapper .section-2 .head h1 {
    font-size: calc(var(--section-title-font-size) + 0.3rem);
  }
}

@media only screen and (max-width: 600px) {
  .whoWeAre-wrapper .section-3 .card {
    min-width: 100%;
  }

  .whoWeAre-wrapper .section-3 .card-wrapper.flex-row.j-c-sb {
    gap: 1.1rem;
  }

  .whoWeAre-wrapper .p_text,
  .whoWeAre-wrapper .p_text p {
    font-size: 1.2rem;
  }

  .whoWeAre-wrapper .name_text {
    font-size: 1.7rem;
  }
  .popup-wrapper .grid.grid-inv {
    grid-template-columns: 1fr;
  }

  .popup-wrapper .popup-header .image {
    width: 95%;
    margin: 0 auto;
  }

  .popup-wrapper .popup-header .name_text {
    font-size: 1.9rem !important;
  }

  .popup-wrapper .popup-header .p_text {
    font-size: 1.15rem !important;
  }

  .popup-wrapper .fav-book .list .inner-flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px) {
  .popup-wrapper {
    padding: 18px;
  }
}

@media only screen and (max-width: 486px) {
  .popup-wrapper .list .g36 {
    gap: 1.25rem !important;
  }

  .popup-wrapper .close_btn {
    width: 18px;
  }

  .popup-wrapper .popup-header .image {
    width: 100%;
  }

  .whoWeAre-wrapper .popup-wrapper .pBox.blue-box,
  .popup-wrapper .pBox.gold-box {
    gap: 1.425rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .whoWeAre-wrapper .section-3 .gold-box,
  .whoWeAre-wrapper .blue-box {
    padding: 38px 14px;
  }
}
